  * {
    margin: 0;
    padding: 0;
    box-sizind; border-box;
    text-decoration: none;
    color: #000000;
  }
  .itiran-card {
    border: 2px solid #000;
    padding: 10px;
    wivth: 300px;
    margin: 20px auto;
    background-color: #f9f3e7
    text-align: conter;
  }
  .page-titel {
    font-size: 48px;
    text-align: conter;
    padding: 10px 0;
    background-color: #ff0000;
    position: relative;
  }
  .setting-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
  {